@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--color-main: #0f141e;
	--color-main-rgb: rgb(15, 20, 30);
	--color-accent: #86898f;
	--bg-color: #f1f1f1;
	--bg-card-hobby: #e5ffe7;
	--bg-card-certificates: #fff9dc;
	--bg-card-projects: #ffe5e5;
	color-scheme: light;
}
body {
	font-family: 'Roboto' sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: var(--color-main);
	background: var(--bg-color);
}

a {
	color: var(--color-main);
	text-decoration: none;
	margin-right: 10px;
}
.toggle-theme-btn {
	margin-left: 65%;
	padding: 3px;
	border-style: solid;
	border-color: var(--color-accent);
	border-width: 1px;
	border-radius: 3px;
}

.toggle-theme-btn:hover {
	opacity: 0.6;
	cursor: pointer;
}

.info a {
	padding: 3px;
	border-style: solid;
	border-color: var(--color-accent);
	border-width: 1px;
	border-radius: 3px;
	color: var(--color-accent);
}
a:hover {
	color: var(--color-main);
}
a:active {
	color: blue;
}

.list {
	padding: 0 20px;
}
.list li {
	color: var(--color-accent);
	margin-bottom: 10px;
}

.tabel {
	width: 100%;
	text-align: left;
}
.tabel td {
	padding-bottom: 10px;
}
.tabel td:nth-child(2),
.tabel td:nth-child(3) {
	color: var(--color-accent);
}
.btn {
	background: #111;
	padding: 15px 20px;
	color: #fff;
	border: none;
	font-family: inherit;
	cursor: pointer;
	border-radius: 15px;
}
.btn:hover {
	opacity: 0.8;
}

.conteiner {
	max-width: 750px;
	margin: auto;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
}

.info {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	gap: 40px;
}

@media (max-width: 430px) {
	.conteiner {
		text-align: center;
	}
	.info {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.list {
		text-align: left;
	}
	.toggle-theme-btn {
		margin-left: 30%;
		margin-bottom: 10px;
		max-width: 40%;
	}
}

.info-avatar {
	width: 200px;
	border-radius: 28px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}
.certificate {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
}
.certificate_itm {
	width: 200px;
	display: flex;
	margin-bottom: 20px;
}

.info-text p {
	font-style: italic;
	font-weight: bold;
	color: var(--color-accent);
	margin: 0;
}

.card {
	border-radius: 20px;
	padding: 15px 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card h2 {
	margin-bottom: 10px;
}

.card-certificates {
	background: var(--bg-card-certificates);
}

.card-projects {
	background: var(--bg-card-projects);
}

.card-hobby {
	background: var(--bg-card-hobby);
}

.form h2 {
	text-align: center;
}

.form-group label {
	display: block;
	font-size: 14px;
	color: var(--color-accent);
}

.form-group input,
.form-group textarea {
	width: 100%;
	box-sizing: border-box;
	border: none;
	background: transparent;
	border-bottom: 1px solid #ccc;
	color: var(--color-main-rgb);
	padding: 15px 0 10px;
	outline: none;
	font-family: inherit;
}

.form-row {
	margin-bottom: 10px;
	display: flex;
}
.form-row .form-group {
	margin-right: 20px;
	width: 50%;
}

@media (max-width: 650px) {
	.form-row {
		display: block;
	}
	.form-row .form-group {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.card {
		align-items: center;
	}
}
.form-row .form-group:last-child {
	margin-right: 0;
}

/* Dark */

.dark {
	--color-main: #fff;
	--color-main-rgb: 255, 255, 255;
	--bg-color: var(--color-main-rgb);
	
	
	--bg-card-projects: #86898F;
	--bg-card-hobby: #86898F;
	--bg-card-certificates:#86898F;
	--color-accent: #fff;
	
	
	color-scheme: dark;
}
